
nav{
    display: flex;
    justify-content: space-between;
    
    height:40px;
    align-items: center;
    margin-left: 10px;
    margin-right: 35px;
     
}
.naveen{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px

}
.you{
    display: flex;
    align-items: center;  
}
.youtube{
    color: red;
    font-size: 2em;
    border-radius: 2px; 
    cursor: pointer;  
}
.bars{
    font-size:20px;
    color:gray;
    cursor: pointer;
}
.in{
    color:lightgray;
    font-size: 10px;
}
.you{
display: flex;

}
.tube{
    font-size:25px;
}
.varma{
  display: flex;  
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.searchengine{
    display: flex;
   
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 25px;
   
    justify-content: space-between;
    overflow: hidden;
    
}
.search{
   flex:1;
    font-size: 16px;
    border: none;
    padding: 8px 12px;
    width: 440px;
   
    outline: none;    
}
.symbol{
    width:60px;
    height: 35px;
    display: flex;
    color: gray;
   
    align-items: center;
    justify-content: center;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
    
   
}
.symbol:hover{
    background-color:#e6e6e6;
}
.microphone{
    cursor: pointer;
    background-color:#e6e6e6 ;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top:10px */
}
.create{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    cursor: pointer;
    margin-top: 18px;
}

.plus{
    width:80px;
    height: 30px;
    background-color: #e6e6e6;
    display: flex;
    border-radius: 25px;
    padding: 5px;
    justify-content:space-around ;
    align-items: center;
}
.bell {
  position: relative;         
  font-size: 22px;           
  cursor: pointer;
}

.badge {
   position: absolute;  
   top:-6px;
   right:-6px;
   border-radius: 12px;
   background-color: red;
   color:white;
   font-size: 12px;
   padding: 2px 3px;
}
.n{
    font-size: 25px;
    background-color: #673ab7;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
}
.side{
    display: flex;
    flex-direction: row;
     gap:100px;
    
    margin-left: 10px;
    color:black;   
}

.fir{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.first{
    display:flex;
     margin-top: 15px; 
    gap:20px;
    font-size: 20px;
    padding: 5px 5px;
    background-color: #e6e6e6;
    border-radius: 10px;
     cursor: pointer; 
}
.first:active{
    color:black;
    background-color:#e6e6e6 ;
    border-radius: 5px;
}
.second{
    display:flex;
    gap:20px;
     padding: 5px 5px;
    font-size: 20px;
     cursor: pointer; 
}
.second:active{
    color:black;
    background-color:#e6e6e6 ;
    border-radius: 5px;
}
.secon{
    display: flex;
    flex-direction: column;
   
    width: 180px;
   max-height: calc(100vh - 60px);
}
.secon:hover{
    overflow: scroll;
    scrollbar-width: thin;

}
.third{
    display:flex;
    gap:20px;
     padding: 5px 5px;
    font-size: 20px;
     cursor: pointer; 
}
.third:active{
    color:black;
    background-color:#e6e6e6 ;
    border-radius: 5px;
}
.secondside{
   font-size: 20px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-top:5px ;  
}
.you{
    padding: 0px 5px;
}
.hist{
    display: flex;
    gap:20px;
    cursor: pointer;
    padding: 5px 5px;
}
.hist:active{
    color:black;
    background-color:#e6e6e6 ;
    border-radius: 5px;
}
.play{
    display: flex;
    gap:20px;
    cursor: pointer;
    padding: 5px 5px;
}
.play:active{
    color:black;
    background-color:#e6e6e6 ;
    border-radius: 5px;
}
.yourved{
    display: flex;
    gap:20px;
    cursor: pointer;
    padding: 5px 5px;
}
.yourved:active{
    color:black;
    background-color:#e6e6e6 ;
    border-radius: 5px;
}
.watch{
    display: flex;
    gap:20px;
    cursor: pointer;
    padding: 5px 5px;
}
.watch:active{
    color:black;
    background-color:#e6e6e6 ;
    border-radius: 5px;
}
.liked{
    display: flex;
    gap:20px;
    cursor: pointer;
    padding: 5px 5px;
}
.liked:active{
    color:black;
    background-color:#e6e6e6 ;
    border-radius: 5px;
}
.explore{
    display: flex;
    gap:10px;
    flex-direction: column;
    font-size: 20px;
    
}
.shopping{
    display: flex;
    gap:20px;
    padding: 5px 5px;
    cursor: pointer;
}
.shopping:active{
    background-color: #e6e6e6;
    border-radius: 5px;

}
.music{
    display: flex;
    gap:20px;
    padding: 5px 5px;
    cursor: pointer;
}
.music:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.films{
    display: flex;
    gap:20px;
    padding: 5px 5px;
    cursor: pointer;
}
.films:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.live{
    display: flex;
    gap:20px;
    padding: 5px 5px;
    cursor: pointer;
}
.live:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.gaming{
    display: flex;
    gap:20px;
    padding: 5px 5px;
    cursor: pointer;
}
.gaming:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.ex{
    display: flex;
    gap:20px;
    padding: 5px 6px;
    cursor: pointer;
}
.ex:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.news{
    display: flex;
    gap:20px;
    padding: 5px 6px;
    cursor: pointer;
}
.news:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.sports{
    display: flex;
    gap:20px;
    padding: 5px 6px;
    cursor: pointer;
}
.sports:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.courses{
    display: flex;
    gap:20px;
    padding: 5px 6px;
    cursor: pointer;
}
.courses:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.fashionbeauty{
    display: flex;
    gap:20px;
    padding: 5px 6px;
    cursor: pointer;
}
.fashionbeauty:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.podcasts{
    display: flex;
    gap:20px;
    padding: 5px 6px;
    cursor: pointer;
}
.podcasts:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.fa-brands{
    color:red;
}
.more{
    display: flex;
    flex-direction: column;
    font-size: large;
    gap:10px;
}
.from{
    
    display: flex;
    gap:20px;
    padding: 5px ;
    cursor: pointer;
}
.from:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.youtubepremium{
    
    display: flex;
    gap:20px;
    padding: 5px  ;
    cursor: pointer;
}
.youtubepremium:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.youtubemusic{
    
    display: flex;
    gap:20px;
    padding: 5px  ;
    cursor: pointer;
}
.youtubemusic:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.Youtubestudio{  
    display: flex;
    gap:20px;
    padding: 5px  ;
    cursor: pointer;
}
.Youtubestudio:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.youtubekids{  
    display: flex;
    gap:20px;
    padding: 5px  ;
    cursor: pointer;
}
.youtubekids:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.settings{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap:10px;
}
.set{
   display: flex;
    gap:20px;
    padding: 5px  ;
    cursor: pointer;  
}
.set:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.report{
   display: flex;
    gap:20px;
    padding: 5px  ;
    cursor: pointer;  
}
.report:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.help{
   display: flex;
    gap:20px;
    padding: 5px  ;
    cursor: pointer;  
}
.help:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.feedback{
   display: flex;
    gap:20px;
    padding: 5px  ;
    cursor: pointer;  
}
.feedback:active{
    background-color: #e6e6e6;
    border-radius: 5px;
}
.footer{
    display: flex;
    flex-direction: column;
    font-size: small;
}
.container{
    display: flex;
    justify-content: space-evenly;
    gap:20px;
    margin-top: 15px;
    
}
.box{
    background-color: #e6e6e6;
    height: 20px;
    padding: 8px 8px;
    border-radius: 8px;
    cursor: pointer;
}

.videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  padding: 20px;
  margin-top: -580px;
  margin-left: 220px;
  overflow: scroll;
  height: calc(100vh - 150px);
  scrollbar-width: thin;
}

iframe{
    border-radius: 15px;
   
}